
html,body {
    width: 200%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    /* overflow: hidden; */
    /* overflow-y: -webkit-paged-x; */
}
.item {
    font-size: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.item::-webkit-scrollbar {
    display: none;
   }
.slide {
    width: 50vw;
    height: 100%;
    display: inline-block;
    /* background-repeat: no-repeat;
    display: inline-block;
    transform: rotate(270deg);  */
}
#slide2 {
    background: url(img/1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
#slide3 {
    background: url(img/2.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#slide4 {
    background: url(img/3.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
#slide5 {
    background: url(img/4.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

/* .navigation {
    position: fixed;
    z-index: 999;
    top: 50%;
    margin-top: -215px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.navigation li{
    color:rgba(51, 51, 51, 0.65) !important;
    display:block;
    padding: 0 10px;
    line-height:37px;
    font-weight:600;
    border-bottom:2px solid rgba(51, 51, 51, 0.65);
    text-align:left;
    width:53px;
    padding-left: 28px;
    cursor:pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navigation li span {
    font-size: 70%;
}
.navigation li.dark-menu{
    color: rgba(255, 255, 255, 0.95) !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.12) !important;
    text-shadow: 0px 1px 1px black;

}
.navigation li.active.dark-menu{
    color: white !important;
    padding-left: 26px;
    font-size: 13pt;
    border-bottom: 2px solid rgb(255, 255, 255) !important;
}
.navigation li.dark-menu:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.52) !important;
}
.navigation li.light-menu{
    border-bottom: 2px solid rgba(51,51,51,0.12) !important
}
.navigation li.active.light-menu{
    color:#333333 !important;
    padding-left: 26px;
    font-size: 13pt;
    border-bottom: 2px solid #333333 !important;
}
.navigation li.light-menu:hover{
    border-bottom: 2px solid rgba(51, 51, 51, 0.52) !important;
}
.navigation .noborder{
    border: none !important;
    padding-left: 27px;
}
.navigation li.dark-menu.noborder:hover,.navigation li.light-menu.noborder:hover{
    border-left: none !important;
    padding-left: 27px;
}
li.noborder.light-menu{
    display: none !important;
    border-bottom: 0 !important;
} */




