
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header  {
    max-width:1000px;
    height: 100px;
    max-height: 100px;
    margin: 0px auto;
    z-index: 0;
}
.header-item {
    width:1000px;
    position: fixed;
    z-index: 4;
}
.social {
    float: right;
    display: inline-block;
    padding-top: 33px;
    vertical-align: middle;
}
.social {
    margin-top: 5px;
}
.social a {
    text-decoration: none;
    cursor: pointer;
}
.social a img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
}
.logo {
    height: 38px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 33px;
}
.item {
    font-size: 0;
    height: calc(100vh - 100px);
    width: calc(50vw * 7);
}
.item::-webkit-scrollbar {
    display: none;
}
.slide {
    width: 50vw;
    height: calc(100vh - 100px);
    display: inline-block;
    font-size: 14px;
    position: relative;
}
.main {
    max-width: 500px;
    margin-left: auto;
    height: calc(100vh - 100px);
}
#slide1 {
    background: url(img/1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#slide2 {
    background: url(img/2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slide3 {
    background: url(img/3.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#slide4 {
    background: url(img/4.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#slide5 {
    background: url(img/5.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
#slide6 {
    background-color: #7000ff;
    position: absolute;
    top: 100px;
    background-size: cover;
    background-attachment: scroll;
    width: 100vw;
}
.block-right {
    display: block;
    position: fixed;
    top: 155px;
    left: calc(50vw - 500px);
    font-size: 44px;
    color: white;
}
.title {
    font-size: 44px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.title-left {
    display: block;
    position: fixed;
    top: 155px;
    left: 54vw;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    width: 400px;
    text-align: left;
    letter-spacing: -1.2px;
}
.title-left a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
}
.title-left a span {
    border-bottom: 3px solid #fff;
}
.title-left a:hover,
.title-left a span:hover  {
    color: rgba(255, 255, 255, 0.3);
    border-bottom-color: rgba(255, 255, 255, 0.3);
}
.fa, .fas {
    font-size: 29px;
    padding-left: 5px;
}
#slide1 .title-left {
    z-index: 22;
}
.button {
    width: 205px;
    height: 60px;
    text-align: center;
    border-radius: 100px;
    font-size: 21px;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid #fff;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.button:focus {
    outline: none;
}
.slide-text {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 360px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.block-first .slide-text {
    font-size: 25px;
    font-weight: 100;
    line-height: 33px;
    margin-bottom: 45px;
}
.block-first .button {
    background-color: #ff7200;
    border: none;
    color: #fff;
    font-weight: 100;
}
.block-first .button:hover {
    background-color: #ff5c00;
}
.button svg {
    vertical-align: middle;
}
.block-first .button svg {
    padding-left: 5px;
    padding-bottom: 6px;
}
.block-first .button span {
    font-size: 35px;
    font-weight: 300;
    padding-left: 5px;
}

.video-modal1,
.video-modal2,
.video-modal3 {
    display: none;
    position: fixed;
    width: 1010px;
    height: 600px;
    left: 50%;
    top: 50%;
    z-index: 10;
}
.video-modal1_content,
.video-modal2_content,
.video-modal3_content {
    transform: translate(-50%, -50%);
    z-index: 9;
    position: relative;
    background-size: contain;
    width: 1010px;
    height: 600px;
}
.close {
    position: absolute;
    right: 0;
    top: -33px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    font-weight: 100;
}
.video-modal1_overlay,
.video-modal2_overlay,
.video-modal3_overlay {
    z-index: 8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

iframe {
    width: 1010px;
    height: 600px;
}
.wrapper {
    max-width: 1000px;
    margin: auto;
}
.footer {
    color: #fff;
}
.footer .title {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.fa-angle-left {
    padding-right: 10px;
    vertical-align: middle;
}
.footer-text-1 {
    font-size: 30px;
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 10px 0;
    max-width: 76%;
    margin: auto;
    margin-bottom: 5vh;
}
.footer-text-2 {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 6vh;
}
.footer-text-2 span {
    font-size: 22px;
    font-weight: 500;
}
.footer a {
    color: #fff;
    text-decoration: none
}
.footer a:hover {
    color: rgba(255, 255, 255, 0.3);;
}
.promo {
    font-size: 34px;
    color: #3A3A3A;
    width: 750px;
    height: 245px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    margin-top: 6vh;
    border-radius: 10px;
    margin-bottom: 5vh;
}
.bottom-title {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 4vh;
    padding-top: 30px;
}
.bottom-text-title {
    margin-bottom: 5vh;
}
.phone {
    display: inline-block;
    vertical-align: top;
    border: 0;
    width: 350px;
    height: 55px;
    padding: 0 0 0 30px;
    margin: 10px 0 0px 0;
    font-size: 20px;
    background-color: #F2F0F0;
    cursor: pointer;
}
.phone-button {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: top;
    border: 0;
    width: 235px;
    margin: 10px 0 0px 0;
    color: #fff;
    background-color: #ff7200;
    font-size: 17px;
    cursor: pointer;
    opacity: 0.9;
    height: 55px;
    padding: 0;
}
.phone-button:hover{
    background-color: #ff5c00;
}
.phone-button:focus {
    outline: none;
} 
.phone:focus {
    outline: none;
} 
.phone-container {
    font-size: 0;
    position: relative;
 }
.bottom_app {
     display: inline-block;
     width: 28%;
     margin-top: 5vh;
 }
.bottom_app a {
    text-decoration: none;
}
.bottom_app a:hover,
.bottom_app a:active {
    opacity: 0.5;
}
.bottom_app_google img,
.bottom_app_apple img {
    width: 121px;
    height: 34px;
}
.bottom_app_google {
    margin-left: 5px;
}
.bottom_info {
    display: inline-block;
    width: 70%;
    font-size: 11px;
}
@media screen and (max-height: 800px) {
    .footer .title {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .footer-text-1 {
        margin-bottom: 4vh;
    }
    .footer-text-2 {
        margin-bottom: 3vh;
    }
    .promo {
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    .bottom-title {
        margin-bottom: 4vh;
    }
    .bottom-text-title {
        margin-bottom: 5vh;
    }
    .bottom_app {
        margin-top: 3vh;
    }

}



